<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../assets/css/styles.css" rel="stylesheet" />
        <title>Desktop webpage</title>
     </head>
  <body>

   <body>

      <!-- Header -->
      <header class="header-container">
         <nav class="header">
               <div>
                  <img class="logo" src="../assets/img/logo.png" alt="Logo">
               </div>
               <ul>
                  <li><a href="../index.html#content">Home</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#pricing">Pricing</a></li>
                  <li class="community-submenu"><a class="active" href="">Community</a>
                     <ul>
                        <li><a href="#content">Posts</a></li>
                        <li><a href="#chat">Chat</a></li>
                     </ul>
                  </li>
                  <li><a href="#contact">Contact</a></li>
               </ul>
               <div>
                  <a href="#login">Login</a>
                  <a href="#register">Register</a>
               </div>
         </nav>
      </header>


      <!-- Content -->
      <section class="content">

         <section class="main-content">
            
         </section>

      </section>
      

      <!-- Footer -->
      <footer>
         <text>Copyright text</text>
      </footer>


      <!-- Fixed social buttons -->
      <ul class="social-container">
         <li><a href="#facebook-url"><img src="../assets/img/facebook-icon.svg" alt="Facebook social button"></a></li>
         <li><a href="#twitter-url"><img src="../assets/img/twitter-icon.svg" alt="Twitter social button"></a></li>
         <li><a href="#instagram-url"><img src="../assets/img/instagram-icon.svg" alt="Instagram social button"></a></li>
      </ul>

   </body>
</html>
