//colors
$black_10: rgba(0, 0, 0, 0.1);
$color_silver_approx: #cacaca;
$black: black;
$black_30: rgba(0, 0, 0, 0.3);

//fonts
$font_0: Titillium Web;
$font_1: sans-serif;

//urls
$url_0: url(../img/logo-black-transp.png);
$url_1: url(../../assets/img/main.jpeg);
$url_2: url(../img/logo-white-transp.png);
$url_3: url(../img/up-arrow.png);

* {
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	&:root {
	}
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: $font_0, $font_1;
}
.bgDark {
	background-color: var(--dark-color);
}
.bgLightGrey {
	background-color: var(--light-grey-color);
}
.navbar {
	min-height: 100px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 1px 2px 10px $black_10;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: top 0.5s ease;
}
.navbar-brand {
	width: 70px;
	height: 70px;
	margin-left: 10%;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 1.5s;
	background-image: $url_0;
	background-size: contain;
	background-position: center;
	&:hover {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(360deg);
	}
}
.nav-link {
	color: var(--main-color-dark);
}
.navbar-toggler {
	font-size: 40px;
	&:focus {
		outline: none;
	}
}
#main {
	background-image: $url_1;
	background-size: cover;
	min-height: 700px;
	color: var(--white-color);
	margin-bottom: 32px;
	margin-top: 100px;
	p {
		color: var(--white-color);
	}
}
h1 {
	font-size: 66px;
	font-weight: 700;
	line-height: 80px;
}
h2 {
	font-size: 48px;
	margin-bottom: 30px;
}
h3 {
	font-size: 33px;
}
h5 {
	margin-bottom: 0;
}
p {
	font-size: 18px;
	color: var(--dark-color);
	opacity: 0.5;
	line-height: 1.8;
	margin-bottom: 0;
}
.btn {
	font-size: 14px;
	padding: 15px 26px;
	min-width: 160px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	display: inline-block;
}
.btn-primary {
	background-color: var(--dark-color);
	color: var(--white-color);
	border: 2px solid var(--dark-color);
	&:hover {
		background-color: var(--dark-color);
		border: 2px solid var(--dark-color);
	}
}
.btn-secondary {
	background-color: var(--white-color);
	color: var(--dark-color);
	border: 2px solid var(--white-color);
	&:hover {
		background-color: var(--white-color);
		color: var(--dark-color);
		border: 2px solid var(--white-color);
	}
}
section {
	padding: 120px 0;
}
.content-center {
	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}
.form-control {
	font-size: 14px;
	border: 1px solid $color_silver_approx;
	padding: 15px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	&:focus {
		border: 1px solid var(--dark-color);
		outline: none;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
	}
}
.beer-container {
	position: relative;
	margin: 10px 0;
}
.beer-details {
	position: absolute;
	color: $black;
	top: 100%;
	bottom: 0;
	left: 20px;
	span {
		font-size: 14px;
		color: $black;
	}
	i {
		padding: 0 5px;
	}
}
footer {
	padding: 80px 0;
	text-align: center;
	color: var(--white-color);
	a {
		color: var(--white-color);
		&:hover {
			color: var(--white-color);
		}
	}
	.list-inline .list-inline-item {
		padding: 10px 15px;
	}
}
.footer-brand {
	display: inline-block;
	width: 54px;
	height: 54px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 1.5s;
	background-image: $url_2;
	background-size: contain;
	background-position: center;
	&:hover {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(360deg);
	}
}
#go-top {
	width: 56px;
	height: 56px;
	display: none;
	position: fixed;
	bottom: 80px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: var(--slightly-white);
	background-image: $url_3;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	padding: 16px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 1px 2px 10px $black_30;
}
@keyframes bounce {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
	}
	20% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
	}
	50% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
	}
	80% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
	}
	40% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-10px);
	}
	60% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-5px);
	}
}
@keyframes color_change {
	from {
		color: var(--main-color-light);
	}
	to {
		color: var(--main-color-dark);
	}
}
@media(max-width: 575.98px) {
	h1 {
		font-size: 40px;
		line-height: normal;
	}
	.footer-menu {
		display: block !important;
		padding: 20px 0 !important;
		font-size: 20px;
	}
}
.nav-item:not(.active) a:hover {
	animation: color_change 1s infinite alternate;
}
.carousel-item img {
	height: 500px;
	width: 100%;
}
.list-inline-item .img-fluid:hover {
	animation: bounce 1s;
}