// Modal Register
.modal-content {
	@include border-radius(4px);

	border: 0;
	text-align: left;
}

.modal-header {
	@include border-radius(4px 4px 0 0);

	padding: 25px 25px 15px 25px;
	background: white;
	border: 0;
	border-bottom: 1px solid $color_alto;
    
	.close {
		font-size: 36px;
		color: $color_gray;
		font-weight: 300;
		text-shadow: none;
		opacity: 1;
	}
}

.modal-title {
	margin-bottom: 10px;
	line-height: 30px;
}

.modal-body {
	@include border-radius(0 0 4px 4px);

	padding: 25px 25px 30px 25px;
	background: $color_gallery;
	text-align: left;
    
	img {
		margin-bottom: 15px;
    }
    
	form .input-error {
		border-color: $color_red;
	}
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"]
 {
	@include border-radius(4px);
	@include transition(all .3s);

	height: 50px;
	padding: 0 20px;
	vertical-align: middle;
	background: $color_alabaster;
	border: 1px solid $color_alto;
	font-family: $font_1, $font_2;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: $color_gray;
	box-shadow: none;
	
	&:focus {
		outline: 0;
		background: white;
		border: 3px solid $color_silver;
		box-shadow: none;
	}

	&:-moz-placeholder {
		color: $color_gray;
	}

	&:-ms-input-placeholder {
		color: $color_gray;
	}
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
	color: $color_gray;
}