// Functions
@keyframes bounce {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
    }
    
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
    }
    
	20% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
    }
    
	50% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
    }
    
	80% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(0);
    }
    
	40% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-10px);
    }
    
	60% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateY(-5px);
	}
}

@keyframes color_change {
	from {
		color: $main-color-light;
    }
    
	to {
		color: $main-color-dark;
	}
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

@mixin transition($transition) {
	transition: $transition;
}

@mixin box-shadow($values, $color) {
	box-shadow: $values $color;
}

@mixin box-sizing($type) {
	box-sizing: $type;
}